<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/head :: head"></head>
<body th:fragment="navBar">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class=" ms-5 navbar-brand me-2" th:href="@{/}">
            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFXFoXeAqYeRNMptLoR5BGDoRo8Ats1Ptlnh3ffcfP2uLkaPlPDkIHqGGBGQvzZC3D67g&usqp=CAU"
                    height="16"
                    alt="TodoLogo"
                    loading="lazy"
                    style="margin-top: -1px; height:35px;"
            />
        </a>

        <!-- Toggle button -->
        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse me-5 " id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" >TodoApp</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <a th:href="@{/login}"
                        data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                    Iniciar sesión
                </a>
                <a th:href="@{/register}"
                        data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                    Registrarse
                </a>
            </div>

            <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <input type="submit" value="Sign Out"/>
            </form>


        </div>
        <!-- Collapsible wrapper -->
    </div>

</nav>

<div th:replace="fragments/bootstrapScript :: bootstrapScript">
</body>
</html>