<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>
<body th:fragment="nextPrevButtons">
<div class="d-flex justify-content-between">


    <a class="btn btn-secondary"
        th:classappend="${currentPage == 0} ? ' disabled' : ''"
        th:href="@{/allFilters(sortField=${sortField == null ? 'title' : sortField}, sortDirection=${sortDirection},
        todoTitle=${todoTitle}, todoUsername=${todoUsername}, page=${currentPage > 0 ? currentPage - 1 : 0}, size=${size})}">
        Previous
    </a>

    <a
        class="btn btn-secondary"
        th:classappend="${currentPage == (totalPages - 1) } ? 'disabled' : ''"
        th:href="@{/allFilters(sortField=${sortField == null ? 'title' : sortField}, sortDirection=${sortDirection},
        todoTitle=${todoTitle}, todoUsername=${todoUsername}, page=${currentPage < (totalPages - 1) ? currentPage + 1 : (totalPages - 1)}, size=${size})}">
        Next
    </a>

</div>
<div th:replace="fragments/bootstrapScript :: bootstrapScript">
</body>
</html>