<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: head"></head>

<body th:fragment="todoTable">

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a th:href="@{/allFilters(sortField='title', sortDirection=${reverseSortDirection},
            todoTitle=${todoTitle}, todoUsername=${todoUsername}, page=${currentPage}, size=${size})}">
                Title
            </a>
        </th>
        <th scope="col">Usuario</th>
        <th scope="col">País</th>
        <th scope="col">Completado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todoList}">
        <th th:text="${todo.title}" scope="row"></th>
        <td th:text="${todo.user.username}"></td>
        <td th:text="${todo.user.address.country}"></td>
        <td th:text="${todo.completed}"></td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/bootstrapScript :: bootstrapScript">
</body>
</html>