<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: head"></head>

<body th:fragment="todoTable">

<a class="btn btn-primary my-4" th:href="@{/addTodo}" >Crear TODO</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a th:href="@{/allFilters(sortField='title', sortDirection=${reverseSortDirection},
            todoTitle=${todoTitle}, todoUsername=${todoUsername}, page=${currentPage}, size=${size})}">
                Título
            </a>
        </th>
        <th scope="col">
            <a th:href="@{/allFilters(sortField='user.username', sortDirection=${reverseSortDirection},
            todoTitle=${todoTitle}, todoUsername=${todoUsername}, page=${currentPage}, size=${size})}">
                Nombre de usuario
            </a>
        </th>
        <th scope="col">
            <a th:href="@{/allFilters(sortField='user.address.country', sortDirection=${reverseSortDirection},
            todoTitle=${todoTitle}, todoUsername=${todoUsername}, page=${currentPage}, size=${size})}">
                País
            </a>
        </th>
        <th scope="col">Completado</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todoList}">
        <th th:text="${todo.title}" scope="row"></th>
        <td th:text="${todo.user.username}"></td>
        <td th:text="${todo.user.address.country}"></td>
        <td>
            <input type="checkbox" class="form-check-input" disabled th:checked="${todo.completed}">
        </td>
        <td>
            <a class="btn btn-primary" th:href="@{/editTodo(id=${todo.id})}">Editar</a>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Borrar
            </button>
            <div th:replace="fragments/modal :: modal(Tid=${todo.id}, Tusername=${todo.user.username})"></div>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/bootstrapScript :: bootstrapScript">
</body>
</html>