<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navBar :: navBar"></div>

<div class="alert alert-danger m-auto mt-2" th:if="${param.error}">
    Ususario ya existente.
</div>

<div class="container mt-5"><h1 class="text-center mb-4">Regístrate</h1>
    <form th:action="@{/register}" th:object="${newUser}" method="post" class="mx-auto" style="max-width: 400px;">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input id="name" type="text" th:field="*{name}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input id="username" type="text" th:field="*{username}" class="form-control"/>

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input id="password" type="password" th:field="*{password}" class="form-control"/>

        </div>
        <div class="mb-3">
            <label for="street" class="form-label">Calle</label>
            <input id="street" type="text" th:field="*{address.street}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Ciudad</label>
            <input id="city" type="text" th:field="*{address.city}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="zipcode" class="form-label">C.P.</label>
            <input id="zipcode" type="text" th:field="*{address.zipcode}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">País</label>
            <input id="country" type="text" th:field="*{address.country}" class="form-control"/>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    </form>
</div>
</body>
</html>
