<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navBar :: navBar"></div>

    <h1>Regístrate</h1>
    <form th:action="@{/register}" th:object="${newUser}" method="post">
        <div>
            <label for="name">Nombre</label>
            <input id="name" type="text" th:field="*{name}"/>
        </div>
        <div>
            <label for="username">Nombre de usuario</label>
            <input id="username" type="text" th:field="*{username}"/>
<!--
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
-->
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input id="password" type="password" th:field="*{password}"/>
<!--
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
-->
        </div>
        <div>
            <label for="street">Calle</label>
            <input id="street" type="text" th:field="*{address.street}"/>
        </div>
        <div>
            <label for="city">Ciudad</label>
            <input id="city" type="text" th:field="*{address.city}"/>
        </div>
        <div>
            <label for="zipcode">C.P.</label>
            <input id="zipcode" type="text" th:field="*{address.zipcode}"/>
        </div>
        <div>
            <label for="country">País</label>
            <input id="country" type="text" th:field="*{address.country}"/>
        </div>
        <div>
            <button type="submit">Registrarse</button>
        </div>
</form>
</body>
</html>
